<!DOCTYPE html>
<!-- Created By CodingLab - www.codinglabweb.com -->
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    <!---<title> Responsive Registration Form | CodingLab </title>--->
    <link rel="stylesheet" href="/css/user/login.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="container">
        <div class="content">
            <form action="/user/forgotpassword" method="post">
                <div class="user-details">
                    <div class="input-box">
                        <div style="white-space:nowrap;">
                            <span class="details" style="display: inline-block;">Enter Your Registered Email</span>
                            <p class="errormsg" style="display: inline-block;"><%= errors.emailError%></p>
                        </div>
                        <input type="email" name="email" placeholder="Enter your email" required>
                    </div>

                </div>
                <div class="button">
                    <input type="submit" value="Send the Link">
                </div>
            </form>
            <div class="footerlink2">
                <p><a href="/user/login">Back to Login</a></p>
            </div>
        </div>
    </div>

</body>

</html>