<!DOCTYPE html>
<!-- Created By CodingLab - www.codinglabweb.com -->
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    <!---<title> Responsive Registration Form | CodingLab </title>--->
    <link rel="stylesheet" href="/css/user/login.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="container">
        <div class="title">Change Password</div>
        <div class="content">
            <form action="/user/changepassword/<%=userId%>/<%=userToken%>" method="post">
                <div class="user-details">
              
                    <div class="input-box">
                        <div style="white-space:nowrap;">
                            <span class="details" style="display: inline-block;">Password</span>
                            <p class="errormsg" style="display: inline-block;"><%= errors.passwordError%></p>
                        </div>
                        <input type="password" name="password" placeholder="Enter your  password" required>
                    </div>
                    <div class="input-box">
                        <div style="white-space:nowrap;">
                            <span class="details" style="display: inline-block;">Password</span>
                            <p class="errormsg" style="display: inline-block;"><%= errors.confirmPasswordError%></p>
                        </div>
                        <input type="password" name="confirmPassword" placeholder="Enter your confrim password" required>
                    </div>
                </div>
                <div class="button">
                    <input type="submit" value="Change password">
                </div>
            </form>
            <div class="footerlink2" style="width: 23%;">
                <p><a href="/user">Back To Home</a></p>
            </div>
        </div>
    </div>

</body>

</html>